In [16]:
import pandas as pd
import numpy as np 

indices = ["Ted Lasso", "Parks & Recreation", "Vikings", "Suits", "Breaking Bad"]
colunas = ["Nota", "Temporadas", "Episódios"]
dados = [[9, 4, 34], [9, 7, 125], [9, 6, 89], [8, 9, 134], [10, 5, 62]]

df = pd.DataFrame(dados, index=indices, columns=colunas)
print(df)

                    Nota  Temporadas  Episódios
Ted Lasso              9           4         34
Parks & Recreation     9           7        125
Vikings                9           6         89
Suits                  8           9        134
Breaking Bad          10           5         62

In [17]:
print ("Notas:") #Seleção de uma coluna
print (df["Nota"], "\n")
print ("Temporadas:")
print (df["Temporadas"], "\n")

Notas:
Ted Lasso              9
Parks & Recreation     9
Vikings                9
Suits                  8
Breaking Bad          10
Name: Nota, dtype: int64

Temporadas:
Ted Lasso             4
Parks & Recreation    7
Vikings               6
Suits                 9
Breaking Bad          5
Name: Temporadas, dtype: int64

In [18]:
print ("Notas e Episódios:") #Seleção de duas colunas
print (df[["Nota", "Episódios"]], "\n")

Notas e Episódios:
                    Nota  Episódios
Ted Lasso              9         34
Parks & Recreation     9        125
Vikings                9         89
Suits                  8        134
Breaking Bad          10         62

In [4]:
print ("Suits {loc}:")
print (df.loc["Suits"])

print ("Suits {loc}:")
print (df.iloc[3])
print ("#"*40)

print ("Notas de Suits:", df.loc["Suits", "Nota"]) #primeiro parâmetro: linha, segundo: coluna
print ("Notas de Suits:", df.iloc[3,0])
print ("Notas de Suits:", df.at["Suits", "Nota"]) #mais rápido
print ("#"*40)

Suits {loc}:
Nota            8
Temporadas      9
Episódios     134
Name: Suits, dtype: int64
Suits {loc}:
Nota            8
Temporadas      9
Episódios     134
Name: Suits, dtype: int64
########################################
Notas de Suits: 8
Notas de Suits: 8
Notas de Suits: 8
########################################

In [5]:
print ("Ted Lasso e Parks & Recreation, Nota e Temporada")
print (df.loc[["Ted Lasso", "Parks & Recreation"], ["Nota", "Temporadas"]])
print ("Usando slice")
print (df.loc["Parks & Recreation":"Suits", "Temporadas":])
print (df.loc[:, ["Nota", "Temporadas"]])

#Operações
print (df.head(2))
print (df.tail(2))
print ("Valores únicos de nota:\n")
print (df["Nota"].unique())
print ("Número de valores únicos de nota:\n")
print (df["Nota"].nunique())
print ("Contagem:\n")
print (df["Nota"].count())
print ("Contagem de valores:\n")
print (df["Nota"].value_counts())

Ted Lasso e Parks & Recreation, Nota e Temporada
                    Nota  Temporadas
Ted Lasso              9           4
Parks & Recreation     9           7
Usando slice
                    Temporadas  Episódios
Parks & Recreation           7        125
Vikings                      6         89
Suits                        9        134
                    Nota  Temporadas
Ted Lasso              9           4
Parks & Recreation     9           7
Vikings                9           6
Suits                  8           9
Breaking Bad          10           5
                    Nota  Temporadas  Episódios
Ted Lasso              9           4         34
Parks & Recreation     9           7        125
              Nota  Temporadas  Episódios
Suits            8           9        134
Breaking Bad    10           5         62
Valores únicos de nota:

[ 9  8 10]
Número de valores únicos de nota:

3
Contagem:

5
Contagem de valores:

Nota
9     3
8     1
10    1
Name: count, dtype: int64

In [6]:
print ("Nota mínima nos dados:", df["Nota"].min())
print ("Nota máxima nos dados:", df["Nota"].max())
print ("Média das notas nos dados:", df["Nota"].mean())
print ("Mediana das notas nos dados:", df["Nota"].median())

Nota mínima nos dados: 8
Nota máxima nos dados: 10
Média das notas nos dados: 9.0
Mediana das notas nos dados: 9.0

In [7]:
print (df.columns)
print (df.columns.to_list()) #listas
print (df.columns.to_numpy()) #mais moderno. ndarray
print (df.columns.values)

print (df.index)
print (df.index.to_list()) #listas
print (df.index.to_numpy()) #mais moderno. ndarray
print (df.index.values)

df ["Coluna extra"] = df["Nota"]/2 #Nova coluna
print (df)

df.drop ("Coluna extra", axis=1, inplace=True) #apaga a coluna extra
print (df)

df.drop ("Vikings", inplace=True) #apaga a linha escolhida
print (df)

Index(['Nota', 'Temporadas', 'Episódios'], dtype='object')
['Nota', 'Temporadas', 'Episódios']
['Nota' 'Temporadas' 'Episódios']
['Nota' 'Temporadas' 'Episódios']
Index(['Ted Lasso', 'Parks & Recreation', 'Vikings', 'Suits', 'Breaking Bad'], dtype='object')
['Ted Lasso', 'Parks & Recreation', 'Vikings', 'Suits', 'Breaking Bad']
['Ted Lasso' 'Parks & Recreation' 'Vikings' 'Suits' 'Breaking Bad']
['Ted Lasso' 'Parks & Recreation' 'Vikings' 'Suits' 'Breaking Bad']
                    Nota  Temporadas  Episódios  Coluna extra
Ted Lasso              9           4         34           4.5
Parks & Recreation     9           7        125           4.5
Vikings                9           6         89           4.5
Suits                  8           9        134           4.0
Breaking Bad          10           5         62           5.0
                    Nota  Temporadas  Episódios
Ted Lasso              9           4         34
Parks & Recreation     9           7        125
Vikings                9           6         89
Suits                  8           9        134
Breaking Bad          10           5         62
                    Nota  Temporadas  Episódios
Ted Lasso              9           4         34
Parks & Recreation     9           7        125
Suits                  8           9        134
Breaking Bad          10           5         62

In [10]:
indices = ["Aluno 1", "Aluno 2", "Aluno 3", "Aluno 4"]
colunas = ["matrícula", "idade", "nome"]
dados = [
    [2025001, 19, 'João Silva'],
    [2025002, 21, 'Maria Oliveira'],
    [2025003, 20, 'Pedro Souza'],
    [2025004, 22, 'Ana Costa']
]

df2 = pd.DataFrame(dados, index= indices, columns= colunas)
print (df)

         matrícula  idade            nome
Aluno 1    2025001     19      João Silva
Aluno 2    2025002     21  Maria Oliveira
Aluno 3    2025003     20     Pedro Souza
Aluno 4    2025004     22       Ana Costa

In [11]:
print(df2.isnull()) #verifica valores nulos

         matrícula  idade   nome
Aluno 1      False  False  False
Aluno 2      False  False  False
Aluno 3      False  False  False
Aluno 4      False  False  False

In [12]:
print(df2.sort_values(by= "idade")) #Ordena as linhas pela coluna idade (Crescente por padrão)

         matrícula  idade            nome
Aluno 1    2025001     19      João Silva
Aluno 3    2025003     20     Pedro Souza
Aluno 2    2025002     21  Maria Oliveira
Aluno 4    2025004     22       Ana Costa

In [ ]:
df2.sort_values(by= "idade", ascending= False, inplace= True) #Ordena as linhas pela coluna idade (Decrescente e altera o DataFrame original)

In [15]:
df2

         matrícula  idade            nome
Aluno 4    2025004     22       Ana Costa
Aluno 2    2025002     21  Maria Oliveira
Aluno 3    2025003     20     Pedro Souza
Aluno 1    2025001     19      João Silva

In [21]:
df3 = pd.read_json("aula_pinho.json")
df3

FileNotFoundError: File aula_pinho.json does not exist